key            value
retrieve-all    :/api/Admin/retrieve-all
update-Email:/api/Admin/update-Email
retrieve-by-id :/api/Admin/retrieve-by-id
enrol-customer-bulk :/api/BulkOperation/enrol-customer-bulk
customer-bulk-unblock-bank-account : /api/BulkOperation/customer-bulk-unblock-bank-account
mobile-change-customer-bulk : /api/BulkOperation/mobile-change-customer-bulk
customer-bulk-personal-update-details : /api/BulkOperation/customer-bulk-personal-update-details
customer-bulk-add-bank-account : /api/BulkOperation/customer-bulk-add-bank-account
customer-bulk-remove-bank-account : /api/BulkOperation/customer-bulk-remove-bank-account
customer-bulk-block-bank-account : /api/BulkOperation/customer-bulk-block-bank-account
customer-bulk-unblock-bank-account: /api/BulkOperation/customer-bulk-unblock-bank-account
customer-bulk-operation-invalidate-appId : /api/BulkOperation/customer-bulk-operation-invalidate-appId
enrol-merchant-bulk : /api/BulkOperation/enrol-merchant-bulk
unenrol-merchant-bulk : /api/BulkOperation/unenrol-merchant-bulk
merchant-bulk-add-account : /api/BulkOperation/merchant-bulk-add-account
merchant-bulk-set-default-account : /api/BulkOperation/merchant-bulk-set-default-account
merchant-bulk-remove-account : /api/BulkOperation/merchant-bulk-remove-account
merchant-bulk-assign-account-to-specific-shop : /api/BulkOperation/merchant-bulk-assign-account-to-specific-shop
merchant-bulk-remove-account-to-specific-shop : /api/BulkOperation/merchant-bulk-remove-account-to-specific-shop
merchant-bulk-personal-data-update = /api/BulkOperation/merchant-bulk-personal-data-update
merchant-bulk-enrol-shops= /api/BulkOperation/merchant-bulk-enrol-shops
merchant-bulk-enroll-new-cash-desks=/api/BulkOperation/merchant-bulk-enroll-new-cash-desks
merchant-bulk-update-shop-data=/api/BulkOperation/merchant-bulk-update-shop-data
merchant-bulk-edit-cash-desk=/api/BulkOperation/merchant-bulk-edit-cash-desk
customers-output-files=/api/BulkOperation/customers-output-files
merchants-output-files=/api/BulkOperation/merchants-output-files
getContact=/api/Contact/getContact
get-transaction=/api/consumer/get-transaction
retrieve-qrcode-payment=/api/consumer/retrieve-qrcode-payment
initiate-payment=/api/consumer/initiate-payment
request-reversal=/api/consumer/request-reversal
customer-details=/api/value/customer-details
customer-bank-accounts=/api/value/customer-bank-accounts
customer-proxy=/api/value/customer-proxy
enroll-customer=/api/value/enroll-customer
add-bank-account=/api/value/add-bank-account
delete-customer-bank-account=/api/value/delete-customer-bank-account
create-proxy=/api/value/create-proxy
update-proxy=/api/value/update-proxy
delete-proxy=/api/value/delete-proxy
change-customer-mobile=/api/value/change-customer-mobile
update-customer-personal-data=/api/value/update-customer-personal-data
block-unblock-customer-bank-account=/api/value/block-unblock-customer-bank-account
File-history-list=/File-history-list
Success-customers=/Success-customers
Unsuccess-customers=/Unsuccess-customers
Success-merchants=/Success-merchants
UnSuccess-merchants =/UnSuccess-merchants
Complete-data-List=/Complete-data-List
Daily-data-List=/Daily-data-List
Monthly-data-List=/Monthly-data-List
Fetch-daily-last-30-day-data-by-accNum-Bic=/Fetch-daily-last-30-day-data-by-accNum-Bic
Monthly-data-by-accNum-Bic=/Monthly-data-by-accNum-Bic
add-Liquidity=/Liquidity/add-Liquidity
monthlyLiquidityPosition=/monthlyLiquidityPosition
liquidityPosition=/liquidityPosition
liquidityCycle=/liquidityCycle
dailyLiquidityPosition=/dailyLiquidityPosition
retrieve-merchant-details=/retrieve-merchant-details
retrieve-merchant-details-By-Id=/retrieve-merchant-details-By-Id
retrieve-merchant-bank-account-details-By-merchant-Id=/retrieve-merchant-bank-account-details-By-merchant-Id
retrieve-cash-desk-details-By-shop-Id=/retrieve-cash-desk-details-By-shop-Id
retrieve-merchant-shop-details=/retrieve-merchant-shop-details
create-merchant=/create-merchant
update-merchant-personal-data=/update-merchant-personal-data
update-merchant-mobile=/update-merchant-mobile
update-merchant-Mcc=/update-merchant-Mcc
add-merchant-bank-account=/add-merchant-bank-account
update-cash-desk=/update-cash-desk
delete-cash-desk=/delete-cash-desk
add-merchant-shop-cash-desk=/add-merchant-shop-cash-desk
block-merchant-bank-account=/block-merchant-bank-account
unblock-merchant-bank-account=/unblock-merchant-bank-account
change-merchant-default-bank-account=/change-merchant-default-bank-account
remove-merchant-bank-account=/remove-merchant-bank-account
delete-merchant=/delete-merchant
Enroll-shop=/Enroll-shop
update-shop=/update-shop
delete-merchant-shop=/delete-merchant-shop
remove-merchant-shop-bank-account=/remove-merchant-shop-bank-account
set-merchant-shop-bank-account=/set-merchant-shop-bank-account
add-shop-bank-account=/add-shop-bank-account
update-shop-bank-account=/update-shop-bank-account
register-qr-code-channel=/api/merchantpayment/register-qr-code-channel
check-status-qr-code-channel=/api/merchantpayment/check-status-qr-code-channel
refund-payment=/api/merchantpayment/refund-payment
download-messages=/download-messages
instant-pay=/api/payments/instant-pay
confirm-pay=/api/payments/confirm-pay
send-Request-ToPay=/api/payments/send-Request-ToPay
instant-recipient-pay=/api/payments/instant-recipient-pay
verify-real-time-credit=/api/payments/verify-real-time-credit
verify-validity=/api/session/verify-validity
Register=/api/User/Register
RsetPassword=/api/User/RsetPassword
channel-info-indentifier=/api/value/channel-info-indentifier
account-type=/api/value/account-type
issuer-type=/api/value/issuer-type
reversal-reason=/api/value/reversal-reason
status-reason=/api/value/status-reason
category-purpose-code=/api/value/category-purpose-code
return-reason=/api/value/return-reason
economic-activity=/api/value/economic-activity
emirates=/api/value/emirates
mcc-code-list=/api/value/mcc-code-list
TreansactionLog-file-creation=/api/value/TreansactionLog-file-creation
unenrol-customer-bulk =/api/BulkOperation/unenrol-customer-bulk
Bankuser=/api/AuditTrail/BankUser
Message=/api/AuditTrail/Message
Tranzaction=/api/AuditTrail/Transaction
