Key   =                  value
customer-registration=/api/consumerenrollment/customer-registration
retrieve-contact=/api/contact/retrieve-contact
retrieve-contact-by-mobile=/api/contact/retrieve-contact-by-mobile
retrieve-contact-db=/api/contact/retrieve-contact-db
get-account-details=/api/mobiledashboard/get-account-details
verify-payment=/api/payments/verify-payment
confirm-pay=/api/payments/confirm-pay
send-request-topay=/api/payments/send-request-topay
instant-recipient-pay=/api/payments/instant-recipient-pay
retrieve-request-topay=/api/retrieve/retrieve-request-topay